#cart{
    color: white;
}

#cart--title{
    font-family: 'pixel art';
    font-size: 3.6rem;
}

#cart table{
    color: white;
    font-size: 1.4rem;
}
#cart table td{
    vertical-align: middle;
}
#cart a, a:hover, a:visited{
    color: white;
}
.category--description{
    color: silver;
}

#cart--totalPrice{
    font-family: 'pixel art';
    font-size: 3rem;
}
#cart--clearButton{
    font-family: 'pixel art';
    font-size: 2rem;
    border-radius: 10px;
}